@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}
body{
    font-family: Product Sans;
    
}

/*Hero Section Styles*/

.hero-section{
    padding-top: 10%;
    background: url("../images/hero-bg.svg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 10px;
}
.hero-image img {
    width: 40vw;
    transform: translate(0,-20%) scale(0.75);
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
    z-index: -10;
    
    
    
}

.hero-image img:hover{
    transform:  translate(0,-20%) scale(0.8);
    transform-origin: center;
}

.hero-section h1{
    font-weight: bold;
    font-size: 4.2rem;
}

.hero-text{
    padding-left: 10%;
    padding-top: 5%;
    z-index: 5;
    transform: scale(0.9);
    font-weight: bold;
}
/*End of Hero Section Styles*/
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#008000' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}




/*Responsive Properties*/


@media only screen and (max-width: 450px) {
    .hero-section img {    
    width: 90vw;
    margin-top: 20%; 
    transform: translate(0,-20%) scale(1);
    clip: rect(0px,100%,100%,0px);
    }
    .hero-section img:hover{
        transform: translate(0,-20%) scale(1);
    }
}

/*End of Responsive Properties*/

/*social logo*/
.fa {
    padding: 10px;
    
    font-size: 30px;
    width: 40px;
    text-align: center;

  }
  .fa:hover {
    opacity: 0.2;
}

  /* Facebook */
.fa-facebook {
    
    color: white;
  }

  .fa-twitter {
    
    color: white;
  }
  
  .fa-google {
    
    color: white;
  }
  
  .fa-linkedin {
    
    color: white;
  }

  .fa-instagram {
    
    color: white;
    
  }